<div class="container mt-5">
  <h1>Welcome to {{title}}</h1>
  <p>{{description}}</p>
  <p>Create your playlist by <a href="/playlist/amount">amount</a> and <a href="/playlist/duration">duration</a></p>
</div>